<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destinationMail</key>
	<string>hugoalonsoluis@gmail.com</string>
	<key>faqPage</key>
	<string></string>
	<key>privacyPolicePage</key>
	<string></string>
	<key>twiiter_username</key>
	<string></string>
	<key>facebook_pageId</key>
	<string></string>
	<key>facebook_pageName</key>
	<string></string>
</dict>
</plist>
