<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AskRateInEveryVersion</key>
	<string>true</string>
	<key>App_Store_URL</key>
	<string>itms-apps://itunes.apple.com/app/idAPP_ID?mt=8&amp;ls=1</string>
	<key>App_Store_Rate_URL</key>
	<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?pageNumber=0&amp;sortOrdering=1&amp;type=Purple+Software&amp;mt=8&amp;id=APP_ID</string>
</dict>
</plist>
