<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faqPage</key>
	<string>http://yourBusiness.com/faq.html</string>
	<key>privacyPolicePage</key>
	<string>http://yourBusiness.com/privacy.html</string>
	<key>destinationMail</key>
	<string>support@yourBusiness.com</string>
	<key>twiiter_username</key>
	<string>yourBusinessapp</string>
	<key>facebook_pageId</key>
	<string>000000000000000</string>
	<key>facebook_pageName</key>
	<string>yourBusinessapp</string>
</dict>
</plist>
